img {
    image-rendering: -moz-crisp-edges;
}

@-moz-document url("about:config") {
    #prefs button {
        margin: 0 4px !important;
        min-height: 22px !important;
    }

    #prefs > tr:not(.add) > td, #prefs > tr:not(.add) > th {
        padding: 0 4px !important;
    }
}
